.as-home-page {
  &-carousel {
    gap: $spacing-8;
    display: flex;
    flex-direction: column;

    &-heading {
      text-align: center;
    }
  }

  &-button-group {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: $spacing-12;
    margin-bottom: $spacing-12;
    position: fixed;
    bottom: 0;
  }
}
