.as-button {
  -webkit-tap-highlight-color: rgb(0 0 0);
  align-items: center;
  background-color: var(--as-level-0);
  border-radius: 40px;
  border: $spacing-2 solid transparent;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  font-weight: bold;
  justify-content: center;
  padding: $spacing-8 $spacing-28;
  transition: all 0.25s ease;
  user-select: none;
  width: fit-content;

  @include componentStyle;
}
