.as-input {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: $spacing-8;
  border-radius: 4px;

  &-wrapper {
    position: relative;
  }

  &-error {
    &.as-text {
      color: red;
    }
  }
}
