{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^(utils|components)$",
    "^static",
    "^bundle",
    ".scss$",
    "^./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
