@import 'styles/index.scss';

body {
  background: var(--as-surface-level-0);
  color: var(--as-text-normal);
  height: 100vh;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
